.content{
	display: flex;
	justify-content: start;
	flex-wrap:nowrap;
	margin: 100px 100px 0 0;
}

.category{
	margin:25px 25px 0 100px;
	padding:0 50px;

}

.category ul {
   padding:20px 0;
}

.category ul li {
    list-style: none;
    margin: 20px 0;
}

.category ul li a {
    text-decoration: none;
    color: black;
	transition:0.1s;
	font-size: 25px;
	color:#4f4f4f;
}
.category ul li a:hover{
    color:red;
}

.menu{
	display: flex;
	justify-content: center;
	
	flex-wrap:wrap;
}

.card{
	width:275px;
	background-color:#f0f0f0;
	border-radius:8px;
	overflow:hidden;
	box-shadow:0px 2px 4px rgba(0,0,0,0.2);
	margin:20px;
}

.card img{
	width:100%;
	height:auto;
}
.card-content{
	padding:10px;
}

.desc{
	display: flex;
	justify-content:space-between;
	padding: 0 5px;
}

.card-content button{
	height:50px;
	width:100%;
	background-color:black;
	color:white;
	border-radius:5px;
	border:none;
	justify-content:end;
}


.card-content button:hover{
	cursor:pointer;
	background-color:#4a4a4a;
}
